<div class="container">
	<div class="row">
	<form class="form-horizontal" action="/UserAction/insertUser" id="user_form">
	   <div class="table-responsive">
         <table class="table table-striped table-bordered table-hover table-condensed">
         	<tbody>
	 		   <tr>
	 		     <td class="col-md-2">
		 		     <font color="red">*</font>用户名：
	 		     </td>
	             <td class="col-md-9">
		             <div class="col-md-5">
		             	<input type="hidden" class="form-control" name="user.id" value="${user.id}" id="id">
		             	<input type="text" class="form-control" name="user.username" value="${user.username}" id="username">
		             </div>
	             </td>
	           </tr>
	 		   <tr>
	 		     <td class="col-md-2">
		 		     <font color="red">*</font>密&nbsp;&nbsp;码：
	 		     </td>
	             <td class="col-md-9">
		             <div class="col-md-5">
		             	<input type="text" class="form-control" name="user.password" value="${user.password}"  id="password">
		             </div>
	             </td>
	           </tr>
	 		   <tr>
	 		     <td class="col-md-2">
		 		     <font color="red">*</font>密码混合字符串：
	 		     </td>
	             <td class="col-md-9">
		             <div class="col-md-5">
		             	<input type="text" class="form-control" name="user.salt" id="salt" value="${user.salt}">
		             </div>
	             </td>
	           </tr>
	 		   <tr>
	             <td class="col-md-12" colspan="2" style="text-align: left;">
		             <button type="button" class="btn btn-default" id="user_save">保存</button>
		             <button type="reset" class="btn btn-default">重置</button>
	             </td>
	           </tr>
	        </tbody>
	      </table>
	    </div>
	    </form>
	</div>
</div>
<style>
.table tr td:first-child{
    vertical-align: middle;
    font-weight: 600;
}
</style>
<script type="text/javascript">
jQuery("#user_save").click(function(){
	if(!validForm()){
		return false;
	}
	var formData = new FormData(jQuery("#user_form")[0]);
	jQuery.ajax({
		url : '/UserAction/updateUser',
		type : 'POST',
		async : false,
		cache: false,  
        processData: false,  
        contentType: false,
		datatype : 'json',
        data : formData,
		success : function(data) {
			if (data && data.code == 100) {
				loadUrl('/UserAction/list');
			} else {
				layer.alert(data.msg, {icon: 1});
			}
		},
		error : function() {
			layer.alert('保存失败', {icon: 1});
		}
	});
});
function validForm(){
	var username = jQuery.trim(jQuery("#username").val());
	if(username == '') {
		layer.tips('用户名不能为空', '#username');
		return false;
	}
	var password = jQuery.trim(jQuery("#password").val());
	if(password == '') {
		layer.tips('密码不能为空', '#password');
		return false;
	} 
	var salt = jQuery.trim(jQuery("#salt").val());
	if(salt == '') {
		layer.tips('密码混合字符串', '#salt');
		return false;
	} 
	return true;
}
</script>