<form class="stdform stdform2" method="post" action="">
  	  <p>
      	<label>产品线标号：</label>
        <span class="field"><input type="text" name="product_code" id="product_code" class="longinput" /></span>
      </p>
      
      <p>
      	<label>产品线名称</label>
        <span class="field"><input type="text" name="product_name" id="product_name" class="longinput" /></span>
      </p>
      <p>
      	<label>产品线描述</label>
        <span class="field"><textarea cols="80" rows="5" name="product_desc" id="product_desc" class="longinput"></textarea></span>
      </p>
      <p class="stdformbutton">
      	<button class="submit radius2">提交</button>
        <input type="reset" class="reset radius2" value="重置" />
      </p>
</form>
