<div class="container">
	<div class="row">
	<form class="form-horizontal" action="/ProductLineAction/insertProductLine" id="productline_form">
	   <div class="table-responsive">
         <table class="table table-striped table-bordered table-hover table-condensed">
         	<tbody>
	 		   <tr>
	 		     <td class="col-md-2">
		 		     <font color="red">*</font>产品线编号：
	 		     </td>
	             <td class="col-md-9">
		             <div class="col-md-5">
		             	<input type="hidden" class="form-control" name="product.id" value="${p._id}" id="id">
		             	<input type="text" class="form-control" name="product.product_line" value="${p.product_line}" id="product_line" disabled="disabled">
		             </div>
	             </td>
	           </tr>
	 		   <tr>
	 		     <td class="col-md-2">
		 		     <font color="red">*</font>产品线名称：
	 		     </td>
	             <td class="col-md-9">
		             <div class="col-md-5">
		             	<input type="text" class="form-control" name="product.product_name" value="${p.product_name}"  id="product_name">
		             </div>
	             </td>
	           </tr>
	 		   <tr>
	 		     <td class="col-md-2">
		 		     <font color="red">*</font>产品线描述：
	 		     </td>
	             <td class="col-md-9">
		             <div class="col-md-8">
		             	<textarea cols="80" rows="5" name="product.product_desc"  id="product_desc" class="longinput">${p.product_desc}</textarea>
		             </div>
	             </td>
	           </tr>
	 		   <tr>
	             <td class="col-md-12" colspan="2" style="text-align: left;">
		             <button type="button" class="btn btn-default" id="productline_save">保存</button>
		             <button type="reset" class="btn btn-default">重置</button>
	             </td>
	           </tr>
	        </tbody>
	      </table>
	    </div>
	    </form>
	</div>
</div>
<style>
.table tr td:first-child{
    vertical-align: middle;
    font-weight: 600;
}
</style>
<script type="text/javascript">
jQuery("#productline_save").click(function(){
	if(!validForm()){
		return false;
	}
	var formData = new FormData(jQuery("#productline_form")[0]);
	jQuery.ajax({
		url : '/ProductLineAction/updateProductLine',
		type : 'POST',
		async : false,
		cache: false,  
        processData: false,  
        contentType: false,
		datatype : 'json',
        data : formData,
		success : function(data) {
			if (data && data.code == 100) {
				loadUrl('/ProductLineAction/list');
			} else {
				layer.alert(data.msg, {icon: 1});
			}
		},
		error : function() {
			layer.alert('保存失败', {icon: 1});
		}
	});
});
function validForm(){
	var product_name = jQuery.trim(jQuery("#product_name").val());
	if(product_name == '') {
		layer.tips('产品线名称为空', '#product_name');
		return false;
	} 
	var product_desc = jQuery.trim(jQuery("#product_desc").val());
	if(product_desc == '') {
		layer.tips('产品线描述为空', '#product_desc');
		return false;
	} 
	return true;
}
</script>