<div class="container">
	<div class="row">
	       <div class="table-responsive">
	         <table class="table table-striped table-bordered table-hover">
	         	<thead>
		           <tr>
		           	 <th>Id</th>
		             <th>产品线编号</th>
		             <th>产品线名称</th>
		             <th>创建人</th>
		             <th>操作人</th>
		             <th>创建时间</th>
		             <th>修改时间</th>
		             <th>操作</th>
		           </tr>
	         	</thead>
	         	<tbody>
		           	#{list items:list, as:'item'}
		 		   <tr>
		 		     <td>${item_index}</td>
		             <td>${item.product_line}</td>
		             <td>${item.product_name}</td>
		             <td>${item.creator}</td>
		             <td>${item.operator}</td>
		             <td>${item.create_time}</td>
		             <td>${item.update_time}</td>
		             <td> </td>
		           </tr>
		           #{/list}
	         	</tbody>
	         </table>
	       </div><!-- /.box-body -->
	       <div class="box-footer clearfix" style="text-align: center;">
	         <ul class="pagination no-margin">
	         #{if maxPage>1}
	         <li value="1"><a href="javascript: void(0);">首页</a></li>
	         	#{if page<=1}
	            <li class="disabled"><a href="#">上一页</a></li>
	            #{/if}
	            #{else}
	            <li value="up"><a href="#">上一页</a></li>
	            #{/else}
	           #{list items:pages, as:'p'}
					#{if page == p} 
						<li class="active" value="${p}"><a href="javascript: void(0);">${p}</a></li>
					#{/if}
					#{else}
						<li value="${p}"><a href="javascript: void(0);">${p}</a></li>
					#{/else}
				#{/list}
				#{if page==maxPage}
	            <li class="disabled"><a href="#">下一页</a></li>
	            #{/if}
	            #{else}
	            <li value="next"><a href="#">下一页</a></li>
	            #{/else}
	           <li class="disabled"><a href="javascript: void(0);">共${maxPage}页</a></li>
	           <span style="font-size: 15px;font-weight: 400;line-height: 100%;">&nbsp;&nbsp;&nbsp;到第&nbsp;
	           <input type="text" style="width: 30px;height: 30px;text-align: center;" value="${page}" id="pageInput">&nbsp;&nbsp;页&nbsp;&nbsp;
	           <input type="button" class="btn btn-primary btn-sm" value="确定" id="jumpToPage">
	           </span>
	          #{/if}
	         </ul>
	       </div>
	     </div><!-- /.box -->  
	</div>
<script type="text/javascript">
	jQuery(function(){
		<!--跳转到指定的具体页-->
		jQuery("#jumpToPage").click(function(){
			jumpToPage();
		});
	});
	var jumpToPage = function(){
		var maxPage=jQuery{maxPage};
		var page=jQuery.trim(jQuery("#pageInput").val());
		if(page=='' || page==null){
			page=1;
		}
		if(page>maxPage){
			page=maxPage;
		}
		jQuery("#current_page").prop('value', page);
		jQuery("#queryForm").submit();
	}
	<!--分页按钮点击事件-->
	jQuery("ul.pagination li").click(function(event){
		var maxPage=jQuery{maxPage};
		var page=jQuery{page};
		var curentPage=jQuery(this).attr('value');
		<!--点击下一页事件-->
		if(curentPage=='next' && page<maxPage){
			page=page+1;
		}
		<!--点击下一页事件-->
		if(curentPage=='up' && maxPage>1 && page>1){
			page=page-1;
		}
		<!--点击具体的页数按钮时间-->
		if(curentPage!=page && curentPage>=1 && curentPage<=maxPage){
			page=curentPage;
		}
		jQuery("#current_page").prop('value', page);
		jQuery("#queryForm").submit();
	});
</script>
