<!-- <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> -->
<!-- <html xmlns="http://www.w3.org/1999/xhtml"> -->
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>控制台页面</title>
<link rel="stylesheet" href="/public/bootstrap/css/bootstrap.min.css" type="text/css" />
<link rel="stylesheet" href="/public/cpts/css/style.default.css" type="text/css" />
<link rel="stylesheet" href="/public/fontawesome/css/font-awesome.min.css" type="text/css"/>

<script type="text/javascript" src="/public/javascripts/jquery-1.9.1.js"></script>
<script type="text/javascript" src="/public/cpts/js/plugins/jquery-ui-1.8.16.custom.min.js"></script>
<script type="text/javascript" src="/public/cpts/js/plugins/jquery.cookie.js"></script>
<script type="text/javascript" src="/public/cpts/js/plugins/jquery.slimscroll.js"></script>
<script type="text/javascript" src="/public/cpts/js/custom/general.js"></script>
<script type="text/javascript" src="/public/cpts/js/custom/dashboard.js"></script>
<script type="text/javascript" src="/public/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/public/layer/layer.js"></script>

<!--[if lte IE 8]><script language="javascript" type="text/javascript" src="/public/cpts/js/plugins/excanvas.min.js"></script><![endif]-->
<!--[if IE 9]>
    <link rel="stylesheet" media="screen" href="/public/cpts/css/style.ie9.css"/>
<![endif]-->
<!--[if IE 8]>
    <link rel="stylesheet" media="screen" href="/public/cpts/css/style.ie8.css"/>
<![endif]-->
<!--[if lt IE 9]>
	<script src="/public/cpts/js/plugins/css3-mediaqueries.js"></script>
<![endif]-->
<style type="text/css">
.hornav{
 	height: 5px;
} 
.header{
	height: 100px;
}
.vernav2{
	top: 172px;
}
</style>
</head>
<body class="withvernav">
<div class="bodywrapper">
    <div class="topheader">
        <div class="left">
            <h1 class="logo">权限.<span>中心</span></h1>
            <span class="slogan">权限管理系统</span>
            
            <div class="search">
            	<form class="form-inline" action="" method="post">
<!--                 	<input type="text" name="keyword" id="keyword" value="请输入" /> -->
<!--                     <button class="submitbutton"></button> -->
					<div class="form-group">
					    <label class="sr-only" for="keyword">Email address</label>
					    <input type="text" class="form-control" name="keyword" id="keyword" placeholder="请输入..."/>
					 </div>
                </form>
            </div><!--search-->
            
            <br clear="all" />
            
        </div><!--left-->
        
        <div class="right">
        	<!--<div class="notification">
                <a class="count" href="ajax/notifications.html"><span>9</span></a>
        	</div>-->
            <div class="userinfo">
            	<img src="/public/cpts/images/thumbs/avatar.png" alt="" />
                <span>管理员</span>
            </div><!--userinfo-->
            
            <div class="userinfodrop">
            	<div class="avatar">
                	<a href=""><img src="/public/cpts/images/thumbs/avatarbig.png" alt="" /></a>
                    <div class="changetheme">
                    	切换主题: <br />
                    	<a class="default"></a>
                        <a class="contrast"></a>
                        <a class="blueline"></a>
                        <a class="greenline"></a>
                    </div>
                </div><!--avatar-->
                <div class="userdata">
                	<h4>Juan</h4>
                    <span class="email">youremail@yourdomain.com</span>
                    <ul>
                    	<li><a href="editprofile.html">编辑资料</a></li>
                        <li><a href="accountsettings.html">账号设置</a></li>
                        <li><a href="help.html">帮助</a></li>
                        <li><a href="/MainAction/index">退出</a></li>
                    </ul>
                </div><!--userdata-->
            </div><!--userinfodrop-->
        </div><!--right-->
    </div><!--topheader-->
    
    
    <div class="header">
    	<ul class="headermenu">
        	<li class="current"><a href="@{MainAction.dashboard}"><span class="icon icon-flatscreen"></span>首页</a></li>
            <li><a href="@{MainAction.manageblog}"><span class="icon icon-pencil"></span>用户管理</a></li>
        </ul>
        
       <div class="headerwidget">
        	<div class="earnings">
            	<div class="one_half">
                	<h4>Today's Earnings</h4>
                    <h2>$640.01</h2>
                </div><!--one_half-->
                <div class="one_half last alignright">
                	<h4>Current Rate</h4>
                    <h2>53%</h2>
                </div><!--one_half last-->
            </div><!--earnings-->
        </div><!--headerwidget-->
        
    </div><!--header-->
    
    <div class="vernav2 iconmenu">
    	<ul>
        	<li><a href="#usersub" class="elements">用户管理</a>
            	<span class="arrow"></span>
            	<ul id="usersub">
               		<li><a href="#">用户列表</a></li>
                    <li><a href="#">新增用户</a></li>
                </ul>
            </li>
        	<li><a href="#groupsub" class="support">分组管理</a>
            	<span class="arrow"></span>
            	<ul id="groupsub">
               		<li><a href="#">分组列表</a></li>
                    <li><a href="#">新增分组</a></li>
                </ul>
            </li>
        	<li><a href="#rolesub" class="elements">角色管理</a>
            	<span class="arrow"></span>
            	<ul id="rolesub">
               		<li><a href="#">角色列表</a></li>
                    <li><a href="#">新增角色</a></li>
                </ul>
            </li>
        	<li><a href="#menusub" class="support">菜单管理</a>
            	<span class="arrow"></span>
            	<ul id="menusub">
               		<li><a href="#">菜单列表</a></li>
                    <li><a href="#">新增菜单</a></li>
                </ul>
            </li>
        	<li><a href="#pagesub" class="elements">页面管理</a>
            	<span class="arrow"></span>
            	<ul id="pagesub">
               		<li><a href="#">页面列表</a></li>
                    <li><a href="#">新增页面</a></li>
                </ul>
            </li>
        	<li><a href="#elementsub" class="support">元素管理</a>
            	<span class="arrow"></span>
            	<ul id="elementsub">
               		<li><a href="#">元素列表</a></li>
                    <li><a href="#">新增元素</a></li>
                </ul>
            </li>
        	<li><a href="#productlinesub" class="elements">产品线管理</a>
            	<span class="arrow"></span>
            	<ul id="productlinesub">
               		<li dataurl = "/ProductLineAction/list"><a href="#">产品线列表</a></li>
                    <li dataurl = "/ProductLineAction/addProductLineView"><a href="#">新增产品线</a></li>
                </ul>
            </li>
        	<li><a href="#whitelistsub" class="support">白名单管理</a>
            	<span class="arrow"></span>
            	<ul id="whitelistsub">
               		<li><a href="#">白名单IP列表</a></li>
               		<li><a href="#">白名单账号列表</a></li>
                    <li><a href="#">新增白名单</a></li>
                </ul>
            </li>
            <li><a href="#" class="elements">网页元素</a></li>
        </ul>
        <a class="togglemenu"></a>
    </div><!--leftmenu-->
        
    <div class="centercontent">
    	<div class="pageheader">
            <h1 class="pagetitle">产品线管理</h1>
<!--             <span class="pagedesc">The content below are loaded using ajax</span> -->
            
            <ul class="hornav blogmenu">
<!--                 <li class="current"><a href="allposts.html">产品线</a></li> -->
<!--                 <li><a href="published.html">Published (5)</a></li> -->
<!--                 <li><a href="draft.html">Draft (3)</a></li> -->
<!--                 <li><a href="trash.html">Trash (1)</a></li> -->
            </ul>
        </div>
        <div id="contentwrapper" class="contentwrapper">
        
        </div>
	</div>
</div>
<script type="text/javascript">
jQuery(".vernav2.iconmenu li ").click(function(){
	var url = jQuery(this).attr('dataurl');
	if(url && url.startWith('/')){
		loadUrl(url)
	}
	return false;
});
var loadUrl = function(url){
	jQuery.ajax({url:url,success:function(result){
		jQuery("#contentwrapper").html(jQuery(result));
    }});
}
String.prototype.startWith=function(str){     
	  var reg=new RegExp("^"+str);     
	  return reg.test(this);        
}  

String.prototype.endWith=function(str){     
  var reg=new RegExp(str+"$");     
  return reg.test(this);        
}
</script>
</body>
</html>
