<!-- <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> -->
<!-- <html xmlns="http://www.w3.org/1999/xhtml"> -->
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>权限管理中心</title>
<!--收藏用logo图标 -->
<link rel="bookmark"  type="image/x-icon"  href="/public/images/favorite.ico"/>
<!--网站显示页logo图标 -->
<link rel="shortcut icon" href="/public/images/favorite.ico">
<link rel="stylesheet" href="/public/cpts/css/style.default.css" type="text/css" />
<script type="text/javascript" src="/public/cpts/js/plugins/jquery-1.7.min.js"></script>
<script type="text/javascript" src="/public/cpts/js/plugins/jquery-ui-1.8.16.custom.min.js"></script>
<script type="text/javascript" src="/public/cpts/js/plugins/jquery.cookie.js"></script>
<script type="text/javascript" src="/public/cpts/js/plugins/jquery.uniform.min.js"></script>
<script type="text/javascript" src="/public/layer/layer.js"></script>
<!--[if IE 9]>
    <link rel="stylesheet" media="screen" href="/public/cpts/css/style.ie9.css"/>
<![endif]-->
<!--[if IE 8]>
    <link rel="stylesheet" media="screen" href="/public/cpts/css/style.ie8.css"/>
<![endif]-->
<!--[if lt IE 9]>
	<script src="/public/cpts/js/plugins/css3-mediaqueries.js"></script>
<![endif]-->
<style type="text/css">
.loginbox button{
	padding: 10px 0;
}
.loginbox .password input{
	padding: 10px 10px;
	width: 240px;
}
.loginbox .username input{
	padding: 10px 10px;
}
</style>
</head>

<body class="loginpage">
	<div class="loginbox">
    	<div class="loginboxinner">
        	
            <div class="logo">
            	<h1 class="logo">权限.<span>中心</span></h1>
				<span class="slogan">权限管理系统</span>
            </div><!--logo-->
            
            <form id="login_form" method="POST">
            	
                <div class="username">
                	<div class="usernameinner">
                    	<input type="text" name="username" id="username" placeholder="请输入用户名..."/>
                    </div>
                </div>
                
                <div class="password">
                	<div class="passwordinner">
                    	<input type="password" name="password" id="password" placeholder="请输入密码..."/>
                    </div>
                </div>
                
                <button type="button" id="login">登录</button>
                
                <div class="keep"><input type="checkbox" /> 记住密码</div>
            
            </form>
            
        </div><!--loginboxinner-->
    </div><!--loginbox-->
	<script type="text/javascript">
	jQuery("#login").click(function(){
		if(!validForm()){
			return false;
		}
		var formData = new FormData(jQuery("#login_form")[0]);
		jQuery.ajax({
			url : '/LoginAction/login',
			type : 'POST',
			async : false,
			cache: false,  
	        processData: false,  
	        contentType: false,
			datatype : 'json',
	        data : formData,
			success : function(data) {
				if (data && data.code == 100) {
					window.location.href='/MainAction/dashboard';
				} else if(data && data.code == 101){
					layer.tips(data.msg, '#username');
				} else if(data && data.code == 102){
					layer.tips(data.msg, '#password');
				} else if(data && data.code == 103){
					layer.tips(data.msg, '#username');
				} else {
					layer.msg(data.msg, {icon: 5});
				}
			},
			error : function() {
				layer.msg('保存失败', {icon: 5});
			}
		});
		
	});
	function validForm(){
		var username = jQuery.trim(jQuery("#username").val());
		if(username == '') {
			layer.tips('用户名不能为空', '#username');
			return false;
		} 
		var password = jQuery.trim(jQuery("#password").val());
		if(password == '') {
			layer.tips('密码不能为空', '#password');
			return false;
		} 
		return true;
	}
	
	</script>

</body>
</html>
