		<form class="stdform stdform2" method="post" action="">
                 	<p>
                     	<label>First Name</label>
                         <span class="field"><input type="text" name="firstname" id="firstname2" class="longinput" /></span>
                     </p>
                     
                     <p>
                     	<label>Last Name</label>
                         <span class="field"><input type="text" name="lastname" id="lastname2" class="longinput" /></span>
                     </p>

<p>
                         <label>Radio Buttons</label>
                         <span class="field">
                         	<input type="radio" name="radiofield" /> Unchecked Radio &nbsp; &nbsp;
                         	<input type="radio" name="radiofield" checked="checked" /> Checked Radio &nbsp; &nbsp;
                             <input type="radio" name="radiofield" disabled="disabled" /> Disabled Radio  &nbsp; &nbsp;
                             <input type="radio" name="radiofield" checked="checked" disabled="disabled" /> Disabled Radio 
                         </span>
                     </p>
                     
                     <p>
                     	<label>Email</label>
                         <span class="field"><input type="text" name="email" id="email2" class="longinput" /></span>
                     </p>
                     
                     <p>
                     	<label>Location <small>You can put your own description for this field here.</small></label>
                         <span class="field"><textarea cols="80" rows="5" name="location" id="location2" class="longinput"></textarea></span>
                     </p>
                     
                     <p>
                     	<label>Select</label>
                         <span class="field"><select name="selection" id="selection2">
                         	<option value="">Choose One</option>
                             <option value="1">Selection One</option>
                             <option value="2">Selection Two</option>
                             <option value="3">Selection Three</option>
                             <option value="4">Selection Four</option>
                         </select></span>
                     </p>
                     
                     
                     <p class="stdformbutton">
                     	<button class="submit radius2">Submit Button</button>
                         <input type="reset" class="reset radius2" value="Reset Button" />
                     </p>
                 </form>
		
                 <br />

         </div><!--subcontent-->

<div id="validation" class="subcontent" style="display: none">
	
        <form id="form1" class="stdform" method="post" action="">
        	<p>
            	<label>First Name</label>
                <span class="field"><input type="text" name="firstname" id="firstname" class="longinput" /></span>
            </p>
            
            <p>
            	<label>Last Name</label>
                <span class="field"><input type="text" name="lastname" id="lastname" class="longinput" /></span>
            </p>
            
            <p>
            	<label>Email</label>
                <span class="field"><input type="text" name="email" id="email" class="longinput" /></span>
            </p>
            
            <p>
            	<label>Location</label>
                <span class="field"><textarea cols="80" rows="5" name="location" class="mediuminput" id="location"></textarea></span> 
            </p>
            
            <p>
            	<label>Select</label>
                <span class="field">
                <select name="selection" id="selection">
                	<option value="">Choose One</option>
                    <option value="1">Selection One</option>
                    <option value="2">Selection Two</option>
                    <option value="3">Selection Three</option>
                    <option value="4">Selection Four</option>
                </select>
                </span>
            </p>
            
            <br />
            
            <p class="stdformbutton">
            	<button class="submit radius2">Submit Button</button>
            </p>
        </form>
